<!-- <button mat-button>Basic</button> -->
<!-- <button mat-button color="primary">Primary</button>

<button mat-raised-button color="primary">Primary</button>

<mat-icon  color="accent" >home</mat-icon> -->

   
    
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <p>This is Navbar</p>
<mat-nav-list>
    <a mat-list-item routerLink="signup" (click)="sidenav.close()" >
        <mat-icon>face</mat-icon>
        <span class="nav-caption">SignUp</span></a>
    <a mat-list-item routerLink="login" (click)="sidenav.close()"  >
        <mat-icon>input</mat-icon>
        <span class="nav-caption">login</span></a>
       
    <a mat-list-item routerLink="training" (click)="sidenav.close()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">Training</span></a>
     
<mat-list-item (click)="sidenav.close()">
<button mat-icon-button>
    <mat-icon>eject</mat-icon>
    <span class="nav-caption">Logout</span>
</button>
</mat-list-item>
</mat-nav-list>
</mat-sidenav>


        <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
            <button (click)="sidenav.toggle()"><span class="material-icons">view_headline</span></button>
        </div>
            <div><a routerLink="welcome" >LOGO</a> </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-item">
                <li><a routerLink="signup" >Signup</a></li>
                <li><a routerLink="login" >login</a></li> 
               <li><a routerLink="training">Training</a></li>
               <li><a routerLink="/" >Logout</a></li>
            </ul>
             </div>
            </mat-toolbar>
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
        </mat-sidenav-container>





            
            


            

  




                
    













<!-- <ul>
    <li><a routerLink="signup" >signup</a></li>
    <li><a routerLink="login" >login</a></li>
    <li><a routerLink="welcome" >welcome</a></li>
</ul> -->

    









